[Unit]
Description=Query PiHole Data
After=network.target

[Service]
Type=simple
User=zabbix
ExecStart=/usr/local/bin/pihole_data.sh

[Install]
WantedBy=multi-user.target
